<% include ../partials/head %>
<% include ../partials/header %>



  <div class="tj-pic">
  </div>

    <div class='section'>
      <h2 class="text-left">Hi there!</h2>
      <p>
      My name is TJ Stubbs. I am 31 years old and I am a web developer currently studying at General Assembly in the
      Web Development Immersive course. Please check out some of my projects below!
      </p>
    </div>
     <div class="tj-pic">
      </div>
     <div class='section'>
        <h1>Simpson's Trivia Game</h1>
        <p>Test your knowledge of everyone's favorite TV show in this simple trivia game, fun for the whole family.</p>
      <a href="http://simpsons-trivia.bitballoon.com/" target="blank">  <img src="http://res.cloudinary.com/dftzmialt/image/upload/v1514861111/Screen_Shot_2017-12-12_at_8.43.45_AM_m1fnvb.png"  alt="Simpson's Trivia" class="portfolio" height="200px">
      </a>
        </div>
     <div class="tj-pic">
      </div>
     <div class='section'>
         <h1>Deluxe Retro Racing Game</h1>
     <p>Race your opponent across the screen and choose between the car or the donut in this two Player racing game.</p>
    <a href="http://tj-racer.bitballoon.com/" taget="blank">  <img src="http://res.cloudinary.com/dftzmialt/image/upload/v1512059497/Screen_Shot_2017-11-30_at_11.29.34_AM_xtoglf.png" alt="Racing Game"  class="portfolio" height="200px">
    </a>
     </div>
    <div class="tj-pic">
    </div>
      <div class='section'><h2>Contact</h2>
      <p>Feel free to contact me @
      </br>
      stubbsrule@gmail.com
      </br>
      (503)739-4124
    </p></div>
  <form>If you've enjoyed my work feel free to sign up to my mailing list!
  </br>
  <input type="email" placeholder="example: bob@bob.com">

  <input type="submit">
  </form>
  <div class="tj-pic">
  </div>
</div>
</body>
</html>
