<% include ../partials/head %>
<% include ../partials/header %>

<h1>The portfolio</h1>



<div class="board" id="board">

  <div class="item" id="item">

  </div>

</div>






<% include ../partials/footer %>
</body>
</html>
