<header class="text-center">
  

    <h1>TJ Stubbs <br/> Full-Stack Web Developer</h1>
    <nav class="navbar ">
      <button class="btn  btn-primary"><a  class="nav-btn" href="https://github.com/tjrules" target ="_blank">Github</a></button>
      <button class="btn  btn-primary"><a  class="nav-btn" href="https://www.linkedin.com/in/tj-stubbs-97a64983/" target ="_blank">LinkedIn</a></button>
    </nav>
</header>
