body {
  margin-top: 20px;
  font-family:"gloria hallelujah";
    background-color: white;
}

.section {
 text-align: center;
 max-width: 800px;
 height: 400px;
 font-size: 18px;
 margin: auto;
 background-color: white;


}

.tj-pic-1 {
    background: url("http://res.cloudinary.com/dftzmialt/image/upload/v1519246156/tjcamera_t8qwig.jpg") center;
    background-attachment: fixed;
    background-size: cover;
    overflow: auto;
    position: relative;
    height: 400px;
    border: 1px solid black;
}

.tj-pic-2 {
    background: url("http://i65.tinypic.com/14kyybl.jpg") center;
    background-attachment: fixed;
    background-size: cover;
    overflow: auto;
    position: relative;
    height: 400px;
    border: 1px solid black;
}

.tj-pic-3 {
	 background: url("http://res.cloudinary.com/dftzmialt/image/upload/v1519246615/tjsittingcoffee_im3vs6.jpg") center;
    background-attachment: fixed;
    background-size: cover;
    overflow: auto;
    position: relative;
    height: 400px;
    border: 1px solid black;
}

.tj-pic-4 {
	 background: url("http://res.cloudinary.com/dftzmialt/image/upload/v1519246055/tjcoffee_yr1aej.jpg") center;
    background-attachment: fixed;
    background-size: cover;
    overflow: auto;
    position: relative;
    height: 400px;
    border: 1px solid black;
}

.tj-pic-5 {
	 background: url("http://res.cloudinary.com/dftzmialt/image/upload/v1516068457/20160929180706_IMG_2401_floz9r.jpg") center;
    background-attachment: fixed;
    background-size: cover;
    overflow: auto;
    position: relative;
    height: 400px;
    border: 1px solid black;
}

.tj-pic-6 {
	 background: url("http://res.cloudinary.com/dftzmialt/image/upload/v1519245643/explosion_zvgln5.jpg") center;
    background-attachment: fixed;
    background-size: cover;
    overflow: auto;
    position: relative;
    height: 400px;
    border: 1px solid black;
}

.tj-pic-7 {
	 background: url("http://res.cloudinary.com/dftzmialt/image/upload/v1519245643/tj_glasses_jwvk9f.jpg") center;
    background-attachment: fixed;
    background-size: cover;
    overflow: auto;
    position: relative;
    height: 400px;
    border: 1px solid black;
}

h1 {

font-family: 'Chewy', cursive;
letter-spacing:1px;
color: black;
height:50px;
width: 100%;
text-align:center;
}

h2 {
font-family: 'Chewy', cursive;
letter-spacing:2px;
}

h3 {
font-family: 'Chewy', cursive;
letter-spacing:2px;
}

.heading-font {
    font-family: 'Chewy', cursive;
}

form {
margin: 50px auto;
text-align: center;
}

button {
background-color: red;
text-transform:uppercase;
color: white;
border-style: none;
border-radius: 10%;
border-padding: 5px;
font-size: 20px;
padding: 30px;
}

input[type="submit"] {
background-color: red;
text-transform:uppercase;
color: white;
border-style: none;
border-radius: 10%;
font-size: 20px;
padding: 3px;
}

nav {
  text-align: Right;
  display: inline;
  padding: 30px;
}

.nav-btn {
  color:white;
  text-decoration: none;
  list-style: none;
  padding: 10px;
}
.img-resize {

  width: 300px;
  border: none;
}


