<header>
  <header>

    <h1>TJ Stubbs Web Development Portfolio</h1>
    <nav class="navbar">
      <button class="btn btn-primary"><a  class="nav-btn" href="https://www.facebook.com/tj.stubbs" target ="_blank">Facebook</a></button>
      <button class="btn btn-primary"><a  class="nav-btn" href="https://twitter.com/tj_teej6486" target="_blank">Twitter</a></button>
      <button class="btn btn-primary"><a  class="nav-btn" href="https://www.instagram.com/tjrules6486/" target ="_blank">Instagram</a></button>
      <button class="btn btn-primary"><a  class="nav-btn" href="https://www.linkedin.com/in/tj-stubbs-97a64983/" target ="_blank">LinkedIn</a></button>
    </nav>
</header>
