<% include ../partials/head %>
  <% include ../partials/header %>



    <div class="tj-pic-1">
    </div>

    <div class='section'>
      <br>
      <h2 class="text-left">Hi there!</h2>
      <p>
        My name is TJ Stubbs. Full-stack web development is my passion. I have proficiency in 
        React.js, Node.js, Bootstrap, HTML5, CSS3, Ruby on Rails, and I am constantly seeking to learn more in this field.
        Feel free to check out some of my projects below!
        <br>
                <br>
                Let's do some work together!   

      </p>
    </div>
    <div class="tj-pic-2">
    </div>
    <div class='section'>
      <h1>Simpson's Trivia Game</h1>
      <p>Test your knowledge of everyone's favorite cartoon family in this simple trivia game, fun for the whole family.</p>
      <a href="http://simpsons-trivia.bitballoon.com/" target="blank">  <img src="http://res.cloudinary.com/dftzmialt/image/upload/v1514861111/Screen_Shot_2017-12-12_at_8.43.45_AM_m1fnvb.png"  alt="Simpson's Trivia" class="portfolio" height="200px">
      </a>
    </div>
    <div class="tj-pic-7">
    </div>
    <div class='section'>
      <h1>Blog App Take-One</h1>
      <p>A fun blog making app made on Node.js with EJS templating, and Bootstrap. Create, edit, update and delete posts, but you can also add new authors to the mix as well as add photos to the top of your posts. Additionally you can read top headlines pulled from a news API.
      </p>
      <a href="https://blog-app-part-1.herokuapp.com/auth/login" target="blank">  <img src="http://res.cloudinary.com/dftzmialt/image/upload/v1520365827/TJ_s_Blog_orgiwv.png"  alt="Blog App Part 1" class="portfolio" height="200px">
      </a>
      </div>
      <div class="tj-pic-3">
    </div>
    
    <div class='section'>
      <h1>Blog App Take-Two</h1>
      <p>The sequel to Blog App Take-One. The primary objective of this was not to redundantly make the world a better place with more blog apps, but instead to refactor the code from the first try into React, as well as do a better job with Admin priveleges for the users. Mission Accomplished!</p>
      <a href="https://blog-app-part-2.herokuapp.com" target="blank">  <img src="http://res.cloudinary.com/dftzmialt/image/upload/v1520463544/Blog_App2_ued4xi.png"  alt="Blog App Part 2" class="portfolio" height="200px">
      </a>
    </div>
    
    <div class="tj-pic-4">
    </div>
    
    <div class='section'>
      <h1>Narflix</h1>
      <p>Find your favorite movies and add them to your favorite movie list as you search and browse through the movie database. </p>
      <a href="https://narflix.herokuapp.com/" taget="blank">  <img src="http://res.cloudinary.com/dftzmialt/image/upload/v1520381852/Narflix_jb9fkh.png" alt="Racing Game"  class="portfolio" height="200px">
    </a>
    </div>
    <div class="tj-pic-5">
    </div>
    <div class='section'>
      <h1>Deluxe Retro Racing Game</h1>
      <p>Race your opponent across the screen and choose between the car or the donut in this two Player racing game. FYI: This is my 3 year old nephew's favorite game.</p>
      <a href="http://tj-racer.bitballoon.com/" taget="blank">  <img src="http://res.cloudinary.com/dftzmialt/image/upload/v1512059497/Screen_Shot_2017-11-30_at_11.29.34_AM_xtoglf.png" alt="Racing Game"  class="portfolio" height="200px">
    </a>
    </div>
    <div class="tj-pic-6">
    </div>
    <div class='section'>
     <br>
      <h2>Contact:</h2>
      <br>
      <p>Feel free to contact me @ stubbsrule@gmail.com , check out my LinkedIn or reach out via the form below</p>
                   <a href='https://www.linkedin.com/in/tj-stubbs-97a64983/'>LinkedIn</a>

         <form 
  action=mailto:stubbsrule@gmail.com
  method="POST"
  enctype="multipart/form-data"
  name="EmailPortfolioForm">

Your Name:<br>
<input type="text" size="20" placeholder="name" name="VisitorName"><br><br>

Your Email:<br>
<input type="text" size="20" placeholder="email" name="VisitorEmail"><br><br>


Your Comment:<br>
<textarea name="VisitorComment" rows="4" cols="20">
</textarea><br><br>

<input type="submit" value="Submit">

</form>
    </div>
    
    <div class="tj-pic">
    </div>
    
